/* using element selector  */
p{
    color: red;
}


/* using id selector  */
#article1{
    background-color: green;
}


/* using class selector  */
.paraclass{
    /* background-color: yellow; */
    /* background-color: red; */
    background-color:aqua;
}

/* using group selector  */
p,article{
    width: 500px;
}

p.paraclass{
    text-align: center;
}